.answerButton:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(68, 67, 67, 0);
}
.bg {
    background-color: rgba(243, 108, 54, 0.308);
}
.scoreStyle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullMode {
    height: 100%;
    
}